<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <h1 class="textologin">Facturas</h1>
  <br>
  <svg style="margin-left: 30%;" id="Flat" height="150" viewBox="0 0 512 512" width="150"
    xmlns="http://www.w3.org/2000/svg">
    <rect fill="#2b70a8" height="464" rx="32" width="256" x="96" y="24" />
    <path d="m352 56v32h-256v-32a32 32 0 0 1 32-32h192a32 32 0 0 1 32 32z" fill="#c2c5c6" />
    <path d="m352 408v48a32 32 0 0 1 -32 32h-192a32 32 0 0 1 -32-32v-48z" fill="#c2c5c6" />
    <circle cx="176" cy="56" fill="#7e8488" r="8" />
    <path d="m272 64h-56a8 8 0 0 1 0-16h56a8 8 0 0 1 0 16z" fill="#7e8488" />
    <path
      d="m416 296v192h-56a80 80 0 0 1 -80-80h.16l-51.9-76.805a32 32 0 0 1 8.6-44.43 32 32 0 0 1 44.43 8.6l46.71 64.635h24v-192l60.235 112.941a32 32 0 0 1 3.765 15.059z"
      fill="#f5cbaa" />
    <circle cx="224" cy="448" fill="#7e8488" r="16" />
    <path d="m128 120h192v64h-192z" fill="#a4d4f4" />
    <path d="m224 160h-64a8 8 0 0 1 0-16h64a8 8 0 0 1 0 16z" fill="#2b70a8" />
    <g fill="#a4d4f4">
      <path d="m240 224h-112a8 8 0 0 1 0-16h112a8 8 0 0 1 0 16z" />
      <path d="m240 256h-48a8 8 0 0 1 0-16h48a8 8 0 0 1 0 16z" />
      <path d="m176 288h-48a8 8 0 0 1 0-16h48a8 8 0 0 1 0 16z" />
      <path d="m176 320h-48a8 8 0 0 1 0-16h48a8 8 0 0 1 0 16z" />
      <circle cx="128" cy="376" r="8" />
      <circle cx="160" cy="376" r="8" />
      <circle cx="192" cy="376" r="8" />
      <path d="m192 352h-64a8 8 0 0 1 0-16h64a8 8 0 0 1 0 16z" />
      <path d="m272 216h48v32h-48z" />
      <path d="m160 256h-32a8 8 0 0 1 0-16h32a8 8 0 0 1 0 16z" />
    </g>
  </svg>

  <ion-card class="card">

    <ion-card-content>
      <ion-label>Usuario</ion-label>
      <br>
      <ion-input placeholder="Ingrese el usuario" [(ngModel)]="usuario"></ion-input>
      <br>
      <ion-label>Contraseña</ion-label>
      <br>
      <ion-input placeholder="Ingrese la contraseña" type="password" [(ngModel)]="password"></ion-input>

    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <ion-button class="btnlogin" (click)="login()">Ingresar</ion-button>

  <ion-item *ngFor="let emp of employed">
    <ion-label>
      <h1>{{emp.id}}</h1>
      <h2>{{emp.usuario}}</h2>
      <h3>{{emp.password}}</h3>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of bluetoothList" (click)="selectPrinter(item.id)">
      {{item.name}} {{item.id}}
    </ion-item>
  </ion-list>
  <div>
    Selected Printer: {{selectedPrinter}}
  </div>
  <br>

  <ion-button expand="full" color="danger"  (click)="printStuff()">Imprimir Comprobante</ion-button>
  
</ion-content>